{% extends 'scorecard/base.html' %}

{% block title %}{{ product_score.product.name }}{% endblock %}

{% block body %}

<h3><a href="/businessunitsview">Business Units</a> >
    <a href="/productsview?bu={{ product_score.product.business_unit.id }}">
        {{ product_score.product.business_unit.name }}</a> >
    {{ product_score.product.name }} (score: {{ product_score.score }} / {{ product_score.max_score }})</h3>

    <button class="processbutton">Process {{ proc.percent }}%</button>
    <button class="techbutton">Technology {{ tech.percent }}%</button>
    <button class="NISTbutton">Compliance {{ comp.percent }}%</button>

    <div class="process">
        {% if product_roles_list.count > 0 %}
            <br><br>
            <table>
                <tr><th>Security Role</th><th>Function</th><th>Contact</th><th>E-Mail</th></tr>
                {% for product_role in product_roles_list %}
                    {% if product_role.person == None %}
                        <tr class="none">
                            <td>{{ product_role.role.description }}</td>
                            <td>{{ product_role.role.function }}</td>
                            <td>NONE</td>
                            <td>NONE</td>
                    {% else %}
                        <tr>
                            <td>{{ product_role.role.description }}</td>
                            <td>{{ product_role.role.function }}</td>
                            <td>
                                <a href="https://rover.redhat.com/people/profile/{{ product_role.person.username }}/"
                                   target="_blank">{{ product_role.person.full_name }}</a>
                            </td>
                            <td>
                                <a href="mailto:{{ product_role.person.email }}">{{ product_role.person.email }}</a>
                            </td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>No People Logged</h3>
        {% endif %}
    </div>

    <div class="technology">
        {% if product_security_capability_list.count > 0 %}
            <br><br>
            <table>
                <tr><th>Security Capability</th><th>Status</th><th>Score</th></tr>
                {% for product_security_capability in product_security_capability_list %}
                    <tr class="{{ product_security_capability.status.name }}">
                        <td>{{ product_security_capability.security_capability.name }}
                            {% if product_security_capability.security_capability.supporting_controls|length > 0 %}
                            <br>
                            <div class="supcon">
                                {{ product_security_capability.security_capability.supporting_controls }}
                            </div>
                            {% endif %}
                        </td>
                        <td>{{ product_security_capability.status.name }}</td>
                        <td>{{ product_security_capability.status.value }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>No Security Capabilities Logged</h3>
        {% endif %}
    </div>

    <div class="NIST">
        {% if product_control_list.count > 0 %}
            <br><br>
            <table>
                <tr><th>Standard</th><th>Family</th><th>Control</th><th>Status</th><th>Score</th></tr>
                {% for product_control in product_control_list %}
                    <tr class="{{ product_control.status }}">
                        <td>{{ product_control.control.standard.name }} ({{ product_control.control.standard.label }})</td>
                        <td>{{ product_control.control.family.label }}</td>
                        <td>{{ product_control.control.name }}</td>
                        <td>{{ product_control.status }}</td>
                        <td>{{ control_status_values|get_item:product_control.status }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

{% endblock %}
