body {
    font-family: "Lucida Console", Monaco, monospace;
}

button {
    font-size:      15px;
    color:          black;
    border:         solid 1px;
    border-radius:  10px;
    padding:        5px;
}

div.maincontainer {
    width:  90%;
    margin: 0 auto;
}

div.pagefooter {
    font-size:  15px;
    text-align: center;
}

div.NIST {
    display: none;
}

div.process {
    display: none;
}

div.technology {
    display: none;
}

div.supcon {
    font-size: 12px;
}

table {
    border-collapse:    collapse;
    width:              75%;
    border:             1px solid black;
    padding:            5px;
}

table.center {
    margin-left:    auto;
    margin-right:   auto;
}

td {
    font-size:  15px;
    border:     1px solid black;
    padding:    5px;
}

td.bugroup {
    column-span: all;
}

th {
    text-align: left;
    border:     1px solid black;
    padding:    5px;
}

tr.complete, .implemented {
    background: lightgreen;
}

tr.partial {
    background: yellow;
}

tr.planned {
    background: orange;
}

tr.none, .unknown {
    background: red;
    color:      yellow;
}
